{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block h1 %}{% trans "Пользователи" %}{% endblock %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans "Имя пользователя" %}</th>
      <th>{% trans "Полное имя" %}</th>
      <th>{% trans "Дата создания" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% if users %}
    {% for user in users %}
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.date_joined}}</td>
        <td>
          <a href="{% url 'update_user' user.id%}">Изменить</a>
          <br>
          <a href="{% url 'delete_user' user.id%}">Удалить</a>
        </td>
      </tr>
    {% endfor %}
{% endif %}
      </tbody>
</table>
{% endblock %}