{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block h1 %}{% trans "Задачи" %}{% endblock %}
{% block content %}
    <a class="nav-link" href="{% url 'create_task' %}">{% trans "Создать задачу" %}</a>
    <div class="card mb-3">
    <div class="card-body bg-light">
<form class="form-inline center" method="get">
                {% bootstrap_field filter.form.statuses field_class='ml-2 mr-3' %}
                {% bootstrap_field filter.form.executor field_class='ml-2 mr-3' %}
                {% bootstrap_field filter.form.labels field_class='ml-2 mr-3' %}
                {% bootstrap_field filter.form.self_tasks field_class='ml-2 mr-3' %}

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{% trans "Показать" %}">
    </div>
</form>

    </div>

    </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% trans "Имя" %}</th>
      <th>{% trans "Статус" %}</th>
      <th>{% trans "Автор" %}</th>
        <th>{% trans "Исполнитель" %}</th>
        <th>{% trans "Дата создания" %}</th>
    </tr>
  </thead>
  <tbody>
{% if tasks %}
    {% for task in tasks %}
      <tr>
          <td><a href="{% url 'view_task' task.id %}">{{task.id}}</a></td>
        <td>{{task.name}}</td>
          <td>{{task.status.name}}</td>
          <td>{{task.creator}}</td>
          <td>{{task.executor.first_name}} {{task.executor.last_name}}</td>
        <td>{{task.created_at|date:"d.m.Y h:m"}}</td>
        <td>
          <a href="{% url 'update_task' task.id%}">Изменить</a>
          <br>
          <a href="{% url 'delete_task' task.id%}">Удалить</a>
        </td>
      </tr>
    {% endfor %}
{% endif %}
      </tbody>
</table>
{% endblock %}